In [39]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler,PolynomialFeatures,OneHotEncoder,LabelEncoder
from sklearn.metrics import *
from sklearn.model_selection import GridSearchCV
from sklearn.compose import ColumnTransformer

In [4]:
df=pd.read_csv('F:\Analytics vidya\\train.csv')

In [5]:
df=df.drop(['ID','Username'],axis=1)
df.head()

  Tag  Reputation  Answers    Views  Upvotes
0   a      3942.0      2.0   7855.0     42.0
1   a     26046.0     12.0  55801.0   1175.0
2   c      1358.0      4.0   8067.0     60.0
3   a       264.0      3.0  27064.0      9.0
4   c      4271.0      4.0  13986.0     83.0

In [24]:
min_,max_=df['Views'].quantile([0.005,0.95])

In [27]:
df[df['Views']>max_]

       Tag  Reputation  Answers     Views  Upvotes
10       c      1142.0      7.0  141836.0    166.0
37       h     18404.0     13.0  118423.0   2963.0
95       j     19027.0     41.0  752007.0  12565.0
98       j     13684.0      4.0  124171.0   1739.0
100      s      2945.0     13.0  281031.0    804.0
...     ..         ...      ...       ...      ...
329777   j      3087.0      4.0  242087.0    675.0
329796   j     34077.0      5.0  118157.0   6420.0
329912   j     19392.0      6.0  121854.0   8067.0
329954   j      5902.0      6.0  189390.0   1825.0
329963   j     91541.0     14.0  555311.0  45611.0

[16503 rows x 5 columns]

In [28]:
df_new=df[(df['Views']<max_) & (df['Views']>min_)]

In [29]:
df_new.shape

(311865, 5)

In [51]:
X=df_new.drop('Upvotes',axis=1)
y=df_new.Upvotes

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [41]:
cat_cols=[i for i in x_train.columns if x_train[i].dtype=='object']

In [54]:
label=LabelEncoder()
x_train[cat_cols]=label.fit_transform(x_train[cat_cols])

C:\Users\hemje\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
<ipython-input-54-4995a8175ff0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[cat_cols]=label.fit_transform(x_train[cat_cols])
C:\Users\hemje\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [56]:
x_test['Tag']=label.transform(x_test['Tag'])

<ipython-input-56-1ef53b797c95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['Tag']=label.transform(x_test['Tag'])

In [55]:
x_train

        Tag  Reputation  Answers    Views
93343     1        82.0      6.0  38892.0
61238     5     50929.0      3.0   4500.0
154886    2     12272.0      2.0    227.0
305992    7      1361.0      3.0    875.0
58337     3       731.0      3.0   3895.0
...     ...         ...      ...      ...
129741    4     13845.0      5.0  17228.0
321886    1      1592.0      8.0  35732.0
161194    8      4026.0      6.0  17737.0
124829    3       586.0      4.0   3612.0
323555    6      1289.0      7.0  10546.0

[249492 rows x 4 columns]

In [58]:
ct=ColumnTransformer([
                      ('step2',StandardScaler(),num_cols)
])

In [115]:
pp=Pipeline([
             ('step_1',ct),
             ('setp_2',PolynomialFeatures(degree=2)),
             ('model',LinearRegression())
])

In [117]:
y_pred=pp.fit(x_train,y_train).predict(x_test )
print(np.sqrt(mean_squared_error(y_test,y_pred)))

249.45390841669317

In [104]:
print(r2_score(y_test,y_pred))

0.8812943069533041

In [66]:
new=pd.read_csv('F:\Analytics vidya\\test.csv')

In [68]:
x_valid=new.drop(['ID','Username'],axis=1)

In [105]:
label1=LabelEncoder()

In [113]:
x_valid['Tag']=label1.fit_transform(x_valid['Tag'])

In [118]:
y_new=pp.predict(x_valid)
pred=pd.DataFrame(y_new)
pred=pd.concat([new['ID'],pred],axis=1)
pred.columns=['ID','Upvotes']
pred.to_csv('predict.csv',index=False)